body{
    font-family: Roboto;
    font-style: normal;
    color: black;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

body img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Shrikhand;
    src: url(assets/fonts/Shrikhand/Shrikhand-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(assets/fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-thin;
    src: url(assets/fonts/roboto/Roboto-Thin.ttf);
}

@font-face {
    font-family: Roboto-light;
    src: url(assets/fonts/roboto/Roboto-Light.ttf);
}


ul{
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}
