body {
  font-family: Roboto;
  font-style: normal;
  color: black;
  padding: 0px;
  margin: 0px;
  width: 100%;
}

body img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Shrikhand;
  src: url(/assets/fonts/Shrikhand/Shrikhand-Regular.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(/assets/fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-thin;
  src: url(/assets/fonts/roboto/Roboto-Thin.ttf);
}

@font-face {
  font-family: Roboto-light;
  src: url(/assets/fonts/roboto/Roboto-Light.ttf);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.header__nav__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5em;
  background-color: #EAEAEA;
  width: 100%;
  z-index: 1;
}

.header__nav__text i {
  margin-right: 45px;
}

.aside__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
}

.aside__top h1 {
  width: 70%;
  text-align: center;
  font-size: 36px;
  margin-top: 50px;
  margin-bottom: 0;
}

.aside__top p {
  width: 75%;
  text-align: center;
  font-size: 22px;
  color: #707070;
  font-family: Roboto-thin;
}

.nav__fonctionnement h1 {
  margin-left: 30px;
  font-size: 36px;
}

.nav__fonctionnement ul {
  padding: 0 45px 0;
  font-size: 21px;
}

.nav__fonctionnement li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #F6F6F6;
  margin: 25px 0px 25px 0;
  padding: 10px;
  border-radius: 20px;
}

.nav__fonctionnement li:hover {
  background-color: #F5EDFF;
}

.nav__fonctionnement li:hover i {
  color: #9356dc;
}

.nav__fonctionnement li :nth-child(1) {
  position: absolute;
  left: 30px;
  color: white;
  background-color: #9356dc;
  border: 1px solid #9356dc;
  border-radius: 100%;
  padding: 5px 10px;
}

.nav__fonctionnement li :nth-child(2) {
  margin-left: 40px;
  margin-right: 35px;
  font-size: 25px;
  color: #636363;
}

.section {
  background-color: #F6F6F6;
  margin-bottom: -20px;
}

.section header {
  margin-left: 32px;
  margin-top: 75px;
  padding-top: 29px;
}

.section header h2 {
  font-size: 36px;
}

.section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}

.section ul :nth-child(4) {
  margin-bottom: 70px;
}

.section ul img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  -webkit-box-shadow: 0px -3px 10px grey;
          box-shadow: 0px -3px 10px grey;
  height: 350px;
}

.section li {
  width: 100%;
}

.section figcaption {
  background-color: white;
  margin-top: -25px;
  border-radius: 0 0 15px 15px;
  -webkit-box-shadow: 0px 3px 10px grey;
          box-shadow: 0px 3px 10px grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 25px;
  position: relative;
}

.section figcaption :nth-child(2) {
  font-size: 20px;
  margin-top: 0;
  font-family: Roboto-thin;
}

.section h4 {
  font-size: 23px;
  margin-bottom: 15px;
}

.section__coeur--1 {
  position: absolute;
  font-size: 35px;
  right: 70px;
  margin-top: 50px;
}

.section__coeur--1:hover {
  color: #9356dc;
}

.section__coeur--2 {
  position: absolute;
  font-size: 35px;
  right: 70px;
  margin-top: 50px;
}

.section__coeur--2:hover {
  color: #9356dc;
}

.section__coeur--3 {
  position: absolute;
  font-size: 35px;
  right: 70px;
  margin-top: 50px;
}

.section__coeur--3:hover {
  color: #9356dc;
}

.section__coeur--4 {
  position: absolute;
  font-size: 35px;
  right: 70px;
  margin-top: 50px;
}

.section__coeur--4:hover {
  color: #9356dc;
}

.section__nouveau--1 {
  position: absolute;
  margin-top: -415px;
  right: 70px;
  background-color: #99e2d0;
  padding: 10px 15px;
  font-size: 20px;
  color: #588277;
  border-radius: 5px;
}

.section__nouveau--2 {
  position: absolute;
  right: 70px;
  margin-top: -415px;
  background-color: #99e2d0;
  padding: 10px 15px;
  font-size: 20px;
  color: #588277;
  border-radius: 5px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -25px;
}

.header__nav h1 {
  font-size: 1.6em;
  font-family: Shrikhand;
  margin-bottom: 0px;
  margin-top: 35px;
  padding-bottom: 10px;
  -webkit-box-shadow: 1px 20px 20px #bfbfbf;
          box-shadow: 1px 20px 20px #bfbfbf;
  width: 100%;
  text-align: center;
  z-index: 2;
}

.header__nav ul {
  padding-left: 0;
  margin-top: 0;
}

.header__nav img {
  width: 15px;
  height: 15px;
  margin: -44px 0px 36px 35px;
}

footer {
  background-color: #353535;
  color: white;
  padding-bottom: 50px;
}

footer h3 {
  font-family: Shrikhand;
  font-size: 1.2em;
  margin-left: 40px;
  padding-top: 35px;
}

footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1em;
  color: white;
  margin-bottom: 10px;
}

footer a:hover {
  color: #99e2d0;
}

footer a i {
  margin-right: 10px;
}

footer a p {
  margin: 0;
}

/* body{
    background-image: url(/assets/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    background-size: 375px;
    background-repeat: no-repeat;
} */
button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
  font-size: 16px;
  padding: 15px 50px;
  cursor: pointer;
  margin-bottom: 75px;
  border: 0;
  background: transparent;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 30px;
  -webkit-box-shadow: 0 0px 3px #666666;
          box-shadow: 0 0px 3px #666666;
  -webkit-transition: all .2s;
  transition: all .2s;
}

button::after {
  content: "";
  width: 500px;
  height: 500px;
  background: linear-gradient(225deg, #9356DC 0%, #ff79da 50%, #9356DC 100%);
  position: absolute;
  top: -50px;
  left: -100px;
  z-index: -1;
  -webkit-transition: all .5s;
  transition: all .5s;
}

button:hover::after {
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
}

button:hover {
  -webkit-transform: translate(0, -6px);
          transform: translate(0, -6px);
  -webkit-box-shadow: 10px -10px 25px 0 rgba(143, 64, 248, 0.25), -10px 10px 25px 0 rgba(39, 200, 255, 0.25);
          box-shadow: 10px -10px 25px 0 rgba(143, 64, 248, 0.25), -10px 10px 25px 0 rgba(39, 200, 255, 0.25);
}

.section-restaurant {
  background-color: #f6f6f6;
  /*temporaire*/
  border-radius: 50px 50px 0px 0px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: -26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-restaurant__h1 {
  font-family: Shrikhand;
  font-size: 1.5em;
  position: relative;
  margin-top: 0px;
  padding-top: 40px;
}

.section-restaurant__h1 img {
  height: 26px;
  position: absolute;
  right: 20px;
  top: 45px;
  width: 20px;
  height: 20px;
}

.section-restaurant__h3 {
  font-family: Roboto-thin;
  border-bottom: 4px solid #99e2d0;
  width: 43px;
  padding-bottom: 5px;
  font-size: 16px;
}

.section-restaurant ul {
  padding: 0;
}

.section-restaurant li {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
  border-radius: 15px;
  position: relative;
  -webkit-box-shadow: 0px 1px 5px #b5b5b5;
          box-shadow: 0px 1px 5px #b5b5b5;
}

.section-restaurant li h4 {
  margin: 10px 0 5px 10px;
  font-family: Roboto-light;
}

.section-restaurant li p {
  margin: 0 0 10px 10px;
  font-family: Roboto-thin;
  font-size: 13px;
}

.section-restaurant li p strong {
  font-family: Roboto-light;
  position: absolute;
  right: 20px;
}
/*# sourceMappingURL=style.css.map */