footer{
    background-color: #353535;
    color: white;
    padding-bottom: 50px;





    h3{
        font-family: Shrikhand;
        font-size: 26px;
        margin-left: 40px;
        padding-top: 35px;
    }



    a{
        display: flex;
        align-items: center;
        font-size: 23px;
        color: white;
        margin-bottom: 10px;

        &:hover{
            color: #99e2d0;
        }


        i{
            margin-right: 10px;
        }

        p{
            margin: 0;
        }
    }
}