.header__nav{
    display: flex;
    flex-direction: column;
    margin-top: -25px;

    & h1{
        font-size: 45px;
        font-family: Shrikhand;
        margin-bottom: 0px;
        box-shadow: 1px 20px 20px rgb(191, 191, 191);
        width: 100%;
        text-align: center;
        z-index: 2;
    } 

    ul{
        padding-left: 0;
    }

    img{
        width: 25px;
        height: 25px;
        margin: -45px 0px 35px 35px;
    }

}







