$color1: #9356dc;
$color2: #8141e8;
$color3: #99e2d0;
$color4:#99e2d0af;

.loader{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    animation: loader 2.5s ease-in-out 3s forwards;


    &__text{
        display: flex;
        justify-content: center;
        position: absolute;
        border: 5px solid $color3;
        width: 50%;
        border-radius: 20px;
        animation: border-flicker 4s linear infinite;
    }

    h1{
        color: $color1;
        font-family: Shrikhand;
        font-size: 2em;
        letter-spacing: 10px;
        animation: text-flicker 3s linear infinite;
    }

    &__offset{
        animation: letter-flicker 2s linear infinite;

        &--2{
            animation: letter-flicker-2 5s linear infinite;
        }
    }
}
