.like{
    color: black;
    cursor: pointer;

    &:hover{
        animation: like 0.3s ease-in-out;
        display: inline-block;
        background:linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
        opacity: 1;
        background-clip: text;
        color:transparent;
        font-weight: bold;
        width: 25px;
        height: 25px;
    }
}