.header__nav__text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    background-color: #EAEAEA;
    width: 100%;
    z-index: 1;

    i {
        margin-right: 45px;
    }   
}

.aside__top{
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: #f6f6f6;

        h1{
            width: 70%;
            text-align: center;
            font-size: 36px ;
            margin-top: 50px;
            margin-bottom: 0;
        }

        p{
            width: 75%;
            text-align: center;
            font-size: 22px;
            color: #707070;
        }

        button {
            border-radius: 30px;
            width: 55%;
            padding: 15px;
            margin-bottom: 60px;
            background: linear-gradient(#ff79da, #9356dc);
            color: white;
            font-size: 23px;
        }
}